In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('70-30 LGBM Drawdown.csv')

In [4]:
df['profit_total'] = df['profit_1'] + df['profit_0']

In [9]:
df.sort_values(by='profit_total', ascending=False)

,n_estimators,num_leaves,learning_rate,k,threshold,profit_1,max_drawdown_1,profit_0,max_drawdown_0,profit_total
5314,150,31,0.1,11,0.40,1.273315,-22.321134,0.441883,NaN,1.715198
3430,100,31,0.1,12,0.35,1.241028,-20.640025,0.409596,NaN,1.650625
3633,100,31,0.2,11,0.35,1.238638,-17.207919,0.407206,NaN,1.645845
3424,100,31,0.1,11,0.40,1.186942,-24.836912,0.355510,NaN,1.542451
4887,150,20,0.2,10,0.40,1.186081,-15.868239,0.354649,NaN,1.540730
...,...,...,...,...,...,...,...,...,...,...
2141,100,5,0.1,7,0.65,-0.076408,-16.041832,-0.907840,NaN,-0.984249
4052,150,5,0.1,10,0.65,-0.079082,-18.269462,-0.910514,NaN,-0.989597
475,50,5,0.2,9,0.65,-0.091365,-17.659193,-0.922797,NaN,-1.014162
2357,100,5,0.2,8,0.60,-0.091534,-33.430874,-0.922966,NaN,-1.014500
300,50,5,0.1,14,0.65,-0.119892,-12.748989,-0.951324,NaN,-1.071216

In [18]:
df.sort_values(by='profit_1', ascending=False)[:20]

,n_estimators,num_leaves,learning_rate,k,threshold,profit_1,max_drawdown_1,profit_0,max_drawdown_0,profit_total
5314,150,31,0.10,11,0.40,1.273315,-22.321134,0.441883,NaN,1.715198
3430,100,31,0.10,12,0.35,1.241028,-20.640025,0.409596,NaN,1.650625
3633,100,31,0.20,11,0.35,1.238638,-17.207919,0.407206,NaN,1.645845
3424,100,31,0.10,11,0.40,1.186942,-24.836912,0.355510,NaN,1.542451
4887,150,20,0.20,10,0.40,1.186081,-15.868239,0.354649,NaN,1.540730
5320,150,31,0.10,12,0.35,1.176072,-17.891605,0.344640,NaN,1.520711
4264,150,5,0.20,11,0.40,1.161977,-21.785040,0.330545,NaN,1.492523
3634,100,31,0.20,11,0.40,1.157870,-19.563070,0.326438,NaN,1.484308
5551,150,31,0.20,15,0.35,1.156135,NaN,0.324703,-17.653974,1.480838
3017,100,20,0.20,13,0.35,1.153297,-20.571576,0.321865,NaN,1.475163
1744,50,31,0.20,11,0.40,1.143075,-18.199793,0.311643,NaN,1.454719
1759,50,31,0.20,13,0.45,1.127854,NaN,0.296422,-36.459576,1.424275
5587,150,31,0.20,20,0.40,1.127501,-16.539939,0.296068,NaN,1.423569
2997,100,20,0.20,10,0.40,1.127077,-19.351580,0.295645,NaN,1.422721
4474,150,20,0.05,11,0.40,1.117837,-20.075686,0.286405,NaN,1.404242
4684,150,20,0.10,11,0.40,1.114495,NaN,0.283062,-17.919825,1.397557
3643,100,31,0.20,12,0.50,1.107502,-14.233051,0.276070,NaN,1.383572
5321,150,31,0.10,12,0.40,1.102156,-20.284496,0.270724,NaN,1.372880
5104,150,31,0.05,11,0.40,1.094427,-29.202775,0.262995,NaN,1.357422
5523,150,31,0.20,11,0.35,1.089920,-16.021984,0.258487,NaN,1.348407